inst/doc
.Rproj.user/C9C67885/sources/prop/6F5379CE
.Rproj.user/C9C67885/sources/prop/9520A06B
.Rproj.user/C9C67885/sources/prop/INDEX
.Rproj.user/C9C67885/sources/s-EDDCD35C/0B3B056A-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/0CD4A408-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/4CED7050-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/573CB55D-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/C2A27E70-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/E5ABC659-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/EAF149BB-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/F69876D5
.Rproj.user/C9C67885/sources/s-EDDCD35C/F69876D5-contents
.Rproj.user/C9C67885/sources/s-EDDCD35C/lock_file
.Rproj.user/F8B5B2/cpp-definition-cache
.Rproj.user/F8B5B2/pcs/debug-breakpoints.pper
.Rproj.user/F8B5B2/pcs/files-pane.pper
.Rproj.user/F8B5B2/pcs/source-pane.pper
.Rproj.user/F8B5B2/pcs/windowlayoutstate.pper
.Rproj.user/F8B5B2/pcs/workbench-pane.pper
.Rproj.user/F8B5B2/persistent-state
.Rproj.user/F8B5B2/rmd-outputs
.Rproj.user/F8B5B2/saved_source_markers
.Rproj.user/F8B5B2/sources/per/t/143C6596
.Rproj.user/F8B5B2/sources/per/t/143C6596-contents
.Rproj.user/F8B5B2/sources/per/t/D0D726F4
.Rproj.user/F8B5B2/sources/per/t/D0D726F4-contents
.Rproj.user/F8B5B2/sources/per/t/D37AA49E
.Rproj.user/F8B5B2/sources/per/t/D37AA49E-contents
.Rproj.user/F8B5B2/sources/per/t/DA24FC00
.Rproj.user/F8B5B2/sources/per/t/DA24FC00-contents
.Rproj.user/F8B5B2/sources/per/t/F46EBB71
.Rproj.user/F8B5B2/sources/per/t/F46EBB71-contents
.Rproj.user/F8B5B2/sources/prop/328CA300
.Rproj.user/F8B5B2/sources/prop/34E66C00
.Rproj.user/F8B5B2/sources/prop/4763E9AF
.Rproj.user/F8B5B2/sources/prop/5498C887
.Rproj.user/F8B5B2/sources/prop/6198640
.Rproj.user/F8B5B2/sources/prop/6C9F333E
.Rproj.user/F8B5B2/sources/prop/71BF5239
.Rproj.user/F8B5B2/sources/prop/7D9506B
.Rproj.user/F8B5B2/sources/prop/7F0138DD
.Rproj.user/F8B5B2/sources/prop/875ADA95
.Rproj.user/F8B5B2/sources/prop/904089FF
.Rproj.user/F8B5B2/sources/prop/93AE4692
.Rproj.user/F8B5B2/sources/prop/9841649B
.Rproj.user/F8B5B2/sources/prop/AA811797
.Rproj.user/F8B5B2/sources/prop/B6BFC629
.Rproj.user/F8B5B2/sources/prop/C0DA77C4
.Rproj.user/F8B5B2/sources/prop/CD1AE17E
.Rproj.user/F8B5B2/sources/prop/D275EF77
.Rproj.user/F8B5B2/sources/prop/INDEX
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/chunks.json
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/csetup_chunk/000004.csv
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/csetup_chunk/000005.html
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/csetup_chunk/000005.metadata
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/csetup_chunk/000006.csv
.Rproj.user/shared/notebooks/5D1BF7CC-my_vignette/1/s/cw6mbb9f7lm3g/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
*.Rproj
